<template id="main">
    @extend{dom:#app}      
    @block{title}Templr@block{}
    @block{main}
    <div id="content">
        @slot{listing}placeholder@slot{}
    </div>
    <hr/>
    @incl{tpl:#widget}
    @block{} @extend{}
</template>