<template id="main">
    @extend{tpl_main}      
    @block{title}Templr@block{}
    @block{main}
    <div id="content">
        @slot{listing}placeholder@slot{}
    </div>
    <hr/>
    @incl{tpl_widget}
    @block{} @extend{}
</template>